html, body {
    min-height: 100%;
}

body {
    padding-left: 5em;
    padding-right: 5em;
}

#nav .navbar-nav {
    align-items: center;
}

#desktop {
    padding-top: 250px;
}

.header {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
    padding-bottom: .5em;
}

.sub-header {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.link-list {
    list-style-type: none;
    margin-left: 0;
}

.link-list a {
    text-decoration: none;
    color: rgba(var(--primary-2-color));
}

.link-list a:hover {
    color: white;
}

.icon {
    width: 30px;
    height: 30px;
    margin-left: .5rem;
    border: 1px solid rgba(var(--primary-2-color));
}

.icon:hover {
    background-color: rgba(var(--primary-2-color))
}

.icon:hover i {
    color: rgba(var(--primary-1-color));
}

.icon i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.about__header {
    height: 250px;
    flex: 0 0 250px;
    font-size: 3em;
    background-color: rgba(var(--primary-2-color), .8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(var(--primary-1-color));
    padding-bottom: .5em;
    cursor: pointer;
    animation: duration 1s;
    animation-name: breath;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.about__header:hover {
    background-color: rgba(var(--primary-3-color));
     animation-name: null;
    transform: scale(1.1);
}

.about__desc {
    color: var(--primary-5-color);
    opacity: 0;
    font-size: 25px;
    margin-top: 3em;
    padding: 1em;
    background-color: rgba(var(--primary-2-color), 0.7);
    border-radius: 25px;
    transition-duration: 1s;
}

@keyframes breath {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

@media only screen and (min-width: 993px) {
    #mobile {
        display: none;
    }
    body {
        background-image: url("http://students.washburn.edu/organizations/thebigevent/img/about/aboutBackround1.png");
        background-repeat: no-repeat;
        background-position-x: center;
        height: 1280px;
    }
}

/* Below Medium */

@media only screen and (max-width: 992px) {
    #desktop {
        display: none;
    }
    #mobile {
        display: block;
        padding-top: 60px !important;
    }
    .about__header {
        width: 95px;
        height: 95px;
        font-size: 1em;
    }
    body {
        background-image: linear-gradient(rgba(var(--primary-3-color)), rgba(var(--primary-1-color)));
        padding-left: 1em;
        padding-right: 1em;
    }
    #nav {
        background-color: rgba(var(--primary-1-color)) !important;
        border-bottom: 3px solid white;
    }
    #nav .navbar-nav {
        align-items: start;
    }
    #nav .nav-link, #nav .navbar-brand, #nav .navbar-toggler-icon {
        color: white !important;
    }
    .header {
        font-size: 3rem;
    }
    .sub-header {
        font-size: 2.5rem;
        padding-top: 0%;
    }
    .center-sm {
        text-align: center;
    }
}