:root {
    --primary-1-color: 0,58,112; 
    --primary-2-color: 163,200,227;
    --primary-3-color: 96,142,181;
    --primary-4-color: 236,170,0;
    --primary-5-color: 181,173,166;
    --secondary-1-color: 121,154,5;
    --secondary-2-color: 242,139,0;
}

.washburn-blue {
    color: #003A70;
}

.text-primary-1 {
    color: rgba(var(--primary-1-color));
}
.text-primary-2 {
    color: rgba(var(--primary-2-color));
}
.text-primary-3 {
    color: rgba(var(--primary-3-color));
}
.text-primary-4 {
    color: rgba(var(--primary-4-color));
}

.bg-primary-1 {
    background-color: rgba(var(--primary-1-color));
}
.bg-primary-2 {
    background-color: rgba(var(--primary-2-color));
}
.bg-primary-3 {
    background-color: rgba(var(--primary-3-color));
}

.stroke-white {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
.stroke-black {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
